@media (min-width: 768px) and (max-width: 991px) {
    .grid-3 {
        width: 33%  !important;
    }
    .set-margin {
        margin-bottom: 3.5rem !important;
    }
}

@media  (max-width: 767px) {
    .grid-2 {
        width: 50%  !important;
    }
    .justify-between {
        display: flex !important;
        justify-content: space-between !important;
    }
    .set-fontsize {
        font-size: 0.8rem;
    }
}