.form-order {
    max-height: 430px;
    overflow-y: auto;
}
.selected {
    background-color: green;
    color: white;
}
#mergeBillModal .modal-body {
    max-height: 800px; /* Định nghĩa chiều cao tối đa của modal */
    overflow-y: auto; /* Cho phép cuộn nội dung khi vượt quá chiều cao đã định */
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid-3 {
        width: 33%  !important;
    }
    .height-body {
        max-height: 386px
    }
    .size-text-btn {
        font-size: 1rem;
    }
    .format-btn-tablet {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-between !important;
        min-height: 86px;
    }
}

@media  (max-width: 767px) {
    .grid-2 {
        width: 50%  !important;
    }
    .justify-between {
        display: flex !important;
        justify-content: space-between !important;
    }

    .height-body {
        max-height: 300px
    }
    .size-text-btn {
        font-size: 0.8rem;
    }
    .format-btn {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-between !important;
        min-height: 79px;
    }
    .display-none {
        display: none;
    }
    
}