body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 350px !important;
    padding: 20px;
    margin-left: 10px !important;
    border: 1px solid #4131f6;
    font-size: 0.6rem;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.restaurant-info {
    margin-bottom: 10px;
    text-align: center;
}
.item {
    margin-bottom: 5px;
}
.print-button {
    text-align: center;
    margin-top: 20px;
}

