.dot-online {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00ff00;
}

.dot-busy {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.dot-reserved {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
}


@media (max-width: 992px) {
    .text-center-md {
        text-align: center !important;
    }

    .text-start-md {
        text-align: start !important;
    }

    .mb-3-md {
        margin-bottom: 20px !important;
    }

    .col-12 {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .text-start-md {
        text-align: left !important;
    }
}

/**(điện thoại di động, hiển thị chiều dọc)*/
@media (min-width: 320px) and (max-width: 352px) {
    .table-list{
        padding-bottom:2.5rem;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
    .table-card {
        background-color: #f8f9fa;
        border: 5px solid #ccc;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card {
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .table-icon {
        font-size: 3rem;
        color: #6c757d;
        text-align: center;
        margin: auto;
    }
    .col-2
    {
        width: 18%;
    }
    html {
        font-size: 10px;
    }
    .dropdown{
        height: 100%;
    }
    .btn.text-white {
        font-size: 6px;
        color: white !important;
        height: 100%;
        width: 100%;
    }

    .form-control{
        height: 100%;
    }
    input.form-control{
        height: 100%;
    }

    .select
    {
        width: 100%;
        font-size: 8px;
        height: 100%;
    }
    .search{
        width: 45%;
        height: 3rem;
        margin-right: -5px;
        margin-left: -8px;
    }
    .col-3{
        margin-left: 9px;
        width: 19%;
    }
    .table-card{
        font-size: 8px;
    }
    .table-icon{
        font-size: 2rem;
    }
    .card-title{
        font-size: 8px;
    }
    .margin{
        flex: 0 0 33%;
        margin: 0rem 0.05rem -1.2rem 0.05rem;
    }
    .card-text{
        font-size: 6px;
    }
    .dot-busy{
        width: 0.8rem;
        height: 0.8rem;
    }
    .dot-online{
        width:  0.8rem;
        height:  0.8rem;
    }
    .dot-reserved{
        width: 0.8rem;
        height: 0.8rem;
    }


    #SortStatus.dropdown-menu {
        font-size: 12px; /* Kích thước chữ */
        max-height: 9rem; /* Chiều cao tối đa của danh sách */
        overflow-y: auto; /* Cho phép cuộn nếu danh sách quá dài */
    }

    #SortStatus.dropdown-menu a.dropdown-item {
        font-size: 8px; /* Kích thước chữ */
        padding: 5px 10px; /* Khoảng cách đệm của các mục */
    }

}


@media (min-width: 353px) and  (max-width: 480px) {
    .table-list{
        padding-bottom:2.5rem;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
    .table-card {
        background-color: #f8f9fa;
        border: 5px solid #ccc;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card {
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .table-icon {
        font-size: 3rem;
        color: #6c757d;
        text-align: center;
        margin: auto;
    }
    .col-2
    {
        width: 18%;
    }
    html {
        font-size: 10px;
    }
    .dropdown{
        height: 100%;
    }
    .btn.text-white {
        font-size: 6px;
        color: white !important;
        height: 100%;
        width: 100%;
    }

    .form-control{
        height: 100%;
    }
    input.form-control{
        height: 100%;
    }

    .select
    {
        width: 100%;
        font-size: 8px;
        height: 100%;
    }
    .search{
        width: 45%;
        height: 100%;
        margin-right: -5px;
        margin-left: -8px;
    }
    .col-3{
        margin-left: 9px;
        width: 19%;
    }
    .table-card{
        font-size: 8px;
    }
    .table-icon{
        font-size: 2rem;
    }
    .card-title{
        font-size: 8px;
    }
    .margin{
       flex: 0 0 33%;
        margin: 0rem 0.05rem -1.2rem 0.05rem;
    }
    .card-text{
        font-size: 6px;
    }
    .dot-busy{
        width: 8px;
        height: 8px;
    }
    .dot-online{
        width: 8px;
        height: 8px;
    }
    .dot-reserved{
        width: 8px;
        height: 8px;
    }
    #SortStatus.dropdown-menu {
        font-size: 12px; /* Kích thước chữ */
        max-height: 200px; /* Chiều cao tối đa của danh sách */
        overflow-y: auto; /* Cho phép cuộn nếu danh sách quá dài */
    }

    #SortStatus.dropdown-menu a.dropdown-item {
        font-size: 8px; /* Kích thước chữ */
        padding: 5px 10px; /* Khoảng cách đệm của các mục */
    }

    #dropdownArea.select {
        max-height: 30px;
        overflow-y: auto; /* Cho phép cuộn nếu danh sách quá dài */
    }

    #dropdownArea.select option {
        font-size: 8px; /* Kích thước chữ */
    }
    #table .d-flex{
        margin-top: 1rem;
    }
}

@media (min-width: 481px) and  (max-width: 768px) {
    .table-list{
        padding-bottom:2.5rem;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
    .table-card {
        background-color: #f8f9fa;
        border: 5px solid #ccc;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card {
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .table-icon {
        font-size: 3rem;
        color: #6c757d;
        text-align: center;
        margin: auto;
    }
    .col-2
    {
        width: 18%;
    }
    html {
        font-size: 14px;
    }
    .dropdown{
        height: 100%;
    }
    .btn.text-white {
        font-size: 8px;
        color: white !important;
        height: 100%;
        width: 100%;
    }

    .form-control{
        height: 100%;
    }
    input.form-control{
        height: 100%;
    }

    .select
    {
        width: 100%;
        font-size: 12px;
        height: 100%;
    }
    .search{
        width: 45%;
        height: 100%;
        margin-right: -5px;
        margin-left: -8px;
    }
    .col-3{
        margin-left: 9px;
        width: 19%;
    }
    .table-card{
        font-size: 12px;
    }
    .table-icon{
        font-size: 2rem;
    }
    .card-title{
        font-size: 12px;
    }
    .margin{
        flex: 0 0 33%;
        margin: 0rem 0.05rem -1.2rem 0.05rem;
    }
    .card-text{
        font-size: 9px;
    }
    .dot-busy{
        width: 12px;
        height: 12px;
    }
    .dot-online{
        width: 12px;
        height: 12px;
    }
    .dot-reserved{
        width: 12px;
        height: 12px;
    }
    #SortStatus.dropdown-menu {
        font-size: 16px; /* Kích thước chữ */
        max-height: 200px; /* Chiều cao tối đa của danh sách */
        overflow-y: auto; /* Cho phép cuộn nếu danh sách quá dài */
    }

    #SortStatus.dropdown-menu a.dropdown-item {
        font-size: 12px; /* Kích thước chữ */
        padding: 5px 10px; /* Khoảng cách đệm của các mục */
    }

    #dropdownArea.select {
        max-height: 30px;
        overflow-y: auto; /* Cho phép cuộn nếu danh sách quá dài */
    }

    #dropdownArea.select option {
        font-size: 10px; /* Kích thước chữ */
    }
    #table .d-flex{
        margin-top: 1rem;
    }
}

@media (min-width: 767px) and  (max-width: 1119px){
    .table-list{
        padding-bottom:2.5rem;
        padding-left: 0.2rem;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
    .table-card {
        background-color: #f8f9fa;
        border: 5px solid #ccc;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card {
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .table-icon {
        font-size: 3rem;
        color: #6c757d;
        text-align: center;
        margin: auto;
    }
    .col-2
    {
        width: 18%;
    }
    html {
        font-size: 16px;
    }
    .dropdown{
        height: 100%;
    }
    .btn.text-white {
        font-size: 12px;
        color: white !important;
        height: 100%;
        width: 100%;
    }

    .form-control{
        height: 100%;
    }
    input.form-control{
        height: 100%;
    }

    .select
    {
        width: 100%;
        font-size: 12px;
        height: 100%;
    }
    .search{
        width: 45%;
        height: 100%;
        margin-right: -5px;
        margin-left: -8px;
    }
    .col-3{
        margin-left: 9px;
        width: 19%;
    }
    .table-card{
        font-size: 14px;
    }
    .table-icon{
        font-size: 2rem;
    }
    .card-title{
        font-size: 14px;
    }
    .margin{
        flex: 0 0 24%;
        margin: auto;
    }
    .card-text{
        font-size: 10px;
    }
    .dot-busy{
        width: 14px;
        height: 14px;
    }
    .dot-online{
        width: 14px;
        height: 14px;
    }
    .dot-reserved{
        width: 14px;
        height: 14px;
    }
    #SortStatus.dropdown-menu {
        font-size: 18px; /* Kích thước chữ */
        max-height: 200px; /* Chiều cao tối đa của danh sách */
        overflow-y: auto; /* Cho phép cuộn nếu danh sách quá dài */
    }

    #SortStatus.dropdown-menu a.dropdown-item {
        font-size: 14px; /* Kích thước chữ */
        padding: 5px 10px; /* Khoảng cách đệm của các mục */
    }

    #dropdownArea.select {
        max-height: 30px;
        overflow-y: auto; /* Cho phép cuộn nếu danh sách quá dài */
    }

    #dropdownArea.select option {
        font-size: 14px; /* Kích thước chữ */
    }
    #table .d-flex{
        margin-top: 1rem;
    }
}

@media (min-width:  1200px)  {
    .col-xl-1
    {
        margin-left: 1rem;
    }
    .search{
        margin-left: 3.8rem;
        margin-right: -0.8rem;
    }
    .select{
        height: 100%;
        width: auto
    }
    .col-xl-3{
        position: absolute;
        right: 1rem;
    }
    .margin{
        flex: 0 0 24%;
        margin: auto;
    }

    .table-card {
        background-color: #f8f9fa;
        border: 5px solid #ccc;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 83%;
    }

    .dot-online {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #00ff00;
    }

    .dot-busy {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
    }

    .dot-reserved {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: yellow;
    }

    .table-icon {
        font-size: 3rem;
        color: #6c757d;
        text-align: center;
        margin-bottom: 1rem;
    }
    .card {
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }

    .content {
        /* Add styles for your content here */
        /* Make sure the content has a higher z-index value to appear above the background */
        position: relative;
        z-index: 1;
    }

    #table .table-list{
        padding-bottom: 2.5rem;
    }

    #table .d-flex{
        padding-top: 2px;
    }
}
