.classModalCss #d-split-table {
    display: flex;
}

.classModalCss #d-split-table select option {
    padding: 4px;
}

.classModalCss #d-split-table .d-button {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.classModalCss #d-split-table select option:checked {
    background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
}

.classModalCss #d-split-table .selected {
    background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
    color: #fff;
}

.classModalCss .table-to-selected {
    background-color: orange;
}

