.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.rectangle {
    margin: 0;
    font-size: large;
    height: 50px;
    background-color: #ffffff; /* Màu sắc tùy chọn */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Đường viền đen mờ */
    display: flex;
    align-items: center;
    /*justify-content: center; !* Căn giữa chữ và biểu tượng *!*/
    padding-left: 10px; /* Khoảng cách với biểu tượng */
}

.rectangle2 {
    margin: 0;
    font-size: small;
    height: 40px;
    background-color: #f2f2f2; /* Màu sắc tùy chọn */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Đường viền đen mờ */
    display: flex;
    align-items: center;
    /*justify-content: center; !* Căn giữa chữ và biểu tượng *!*/
    padding-left: 10px; /* Khoảng cách với biểu tượng */
}

.rectangle i {
    border-radius: 50%; /* Tạo hình tròn */
    width: 26px; /* Đặt kích thước chiều rộng */
    height: 26px; /* Đặt kích thước chiều cao */
    display: flex;
    align-items: center;
    font-size: 1.5em; /* Kích thước của biểu tượng */
    margin-right: 20px; /* Khoảng cách giữa chữ và biểu tượng */
    background-color: green; /* Tùy chỉnh màu nền */

}

.rectangle .text {
    margin-right: 20px;

}

.rectangle2 .text.align-right {
    margin-left: auto; /* Đẩy span bên phải */
    margin-right: 10px;
}




.search-bar{
    display: none;
    width: 50%;
    padding: 5px;
    border-radius: 20px; /
    background-color: #f2f2f2;
    margin-right: 10px;
    border-radius: 20px;
}

.search-bar.active {
    display: block;
}

.rectangle-container {
    height: 300px; /* Đặt chiều cao tối đa cho container */
    overflow-y: auto; /* Tạo thanh cuộn khi vượt quá chiều cao */
}
