@media (max-width: 1800px)
{
    option.font-size{
        font-size: 0.55rem;
        width:0.3rem
    }
}

@media  (min-width: 1000px)
{
    .row.mb-3{
        margin-left: 5px;
    }
    h4.tableName{
       font-size: 0.9rem;
   }
    span#minutes{
        font-size: 0.8rem;
    }
    i.bi.bi-alarm.me-2::before{
        font-size: 0.8rem;
        padding-left: 0.2rem;
        margin-bottom: 0.3rem;
    }
}
@media  (max-width: 1000px)
{
    html{
        font-size: 0.8rem;
    }
    span#minutes{
        font-size: 0.7rem;
    }
    h4.tableName{
        font-size: 0.9rem;
    }
}
@media  (max-width: 770px)
{
    button.btn.mt-3.col-sm-3.col-md-2.col-xl-auto.text-white{
        width:20%;
    }
    div.col-sm-9.col-md-3.col-xl-4{
        width:50%;
    }
    div.col-sm-6.col-md-3.col-xl-auto.mt-3.align-right{
        position: absolute;
        left: 2rem;
        width:28%;
    }
}
