.container {
    padding: 20px;
}

.content {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.mb-3 {
    margin-bottom: 15px;
}

.d-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-button button {
    flex: 1;
}

.form-control {
    width: 100px;
    text-align: center;
}

.btn-split {
    margin-top: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
